<div class="container">
  <%= form_with( model: @profile, builder: ProfilesHelper::ProfileFormHelper ,local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group row">
         <div class="mb-3 col">
           <%= f.label :avatar %>
           <div class="col-sm-10">
             <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>
      <div class="mb-3 col">
        <%= f.label :self_introduce %>
        <div class="col-sm-10">
          <%= f.text_area :self_introduce, class: 'form-control' %> 
        </div>
      </div>
    </div>
      <div class="mb-3 row">
        <%= f.label :name ,class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control' %> 
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :birthplace,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%=f.collection_select :birthplace_code, JpPrefecture::Prefecture.all, :code, :name%>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :living_place,class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%=f.collection_select :living_place_code, JpPrefecture::Prefecture.all, :code, :name %>
          </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :gender,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.enum_select :gender%>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :date_of_birth ,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.date_field :date_of_birth, class: 'form-control' %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :grade ,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :grade, class: 'form-control' %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :blood_type ,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.select :blood_type , Profile.blood_types_i18n.invert%>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :siblings_relation,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.enum_select :siblings_relation%>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :hobby,class: 'col-sm-2 col-form-label'  %>
        <div class="col-sm-10">
          <%= f.text_field :hobby, class: 'form-control' %>
      </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :times_name ,class: 'col-sm-2 col-form-label'%>
        <div class="col-sm-10">
          <%= f.text_field :times_name, class: 'form-control' %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :team_dev_will,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.enum_select :team_dev_will %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label :twitter_account,class: 'col-sm-2 col-form-label'  %>
        <div class="col-sm-10">
          <%= f.text_field :twitter_account, class: 'form-control' %>
        </div>
      </div>
      <%= f.fields_for :portfolios do |portfolio_form| %>
      <div class="mb-3 row">
        <div class="d-flex justify-content-center">
          <%= portfolio_form.label :portfolio_id ,class: 'col-sm-2 col-form-label'  %>
        </div>
        <div class="col-sm-10">
          <%= portfolio_form.hidden_field :profile_id , value: @profile.id %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= portfolio_form.label :name  ,class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= portfolio_form.text_field :name, class: 'form-control' %>
          </div>
      </div>
      <div class="mb-3 row">
        <%= portfolio_form.label :url ,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= portfolio_form.text_field :url, class: 'form-control' %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= portfolio_form.label :status ,class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= portfolio_form.enum_select :status %>
        </div>
      </div> 
        <% end %>           
        <div class="d-flex justify-content-center">
          <%= f.submit "送信", class: 'mt-3 btn btn-warning ' %> 
        </div>
      </div>
    <% end %>
  </div>
