<div class="container form-container my-5">
  <div class="row mt-4">
    <div class="col-md-6 col-md-offset-6">
      <div>
        <%=image_tag @profile.decorate.get_avatar_url, class: 'rounded-circle img-fluid mx-auto d-block', size: '200x200' %> 
      </div>
      <div class="mt-3 col-md-5 col-md-offset-5" style="width: 100%">
        <%= @profile.grade%>期
      </div>
      <div class="d-flex justify-content-center">
        <div class="my-1 profile-name">
          <%= @profile.name %> 
        </div>
        <%if @profile.twitter_account.present?%>
          <div class="my-2">
            <i class="fa-brands fa-twitter sns-icon" style="color: deepskyblue;"></i>
          </div>
        <%end%>
          <div class="my-2">
            <i class="fab fa-github sns-icon"></i>
          </div>
      </div>
      <button type="button" class="btn btn-primary d-flex justify-content-center favorite-btn">
        <p>いいね！</p>
        <%= image_tag 'hiyoco.png', size: '20x20'%>
      </button>
    </div>
    <div class="mb-5 col-md-5 col-md-offset-5 self-introduce">
      <div class="col">
        <p>自己紹介文</p> 
      </div>
      <div class="col text-input-area self-introduce">
        <%= @profile.self_introduce %> 
      </div>
    </div>
  </div>
  <div class="mb-3 mt-5 row">
    <div class="col-md-6 col-md-offset-6">
      <%= (t 'activerecord.attributes.profile.birthplace')%>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <p class="text-input-area">
        <%= @profile.birthplace.name %>
      </p>
    </div>
  </div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.living_place')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.living_place.name %>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.gender')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.gender_i18n %>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.date_of_birth')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.date_of_birth%>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.blood_type')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.blood_type_i18n%>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.siblings_relation')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.siblings_relation_i18n%>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.hobby')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
     <%if @profile.hobby.present?%>
        <%= @profile.hobby%>
      <%else%>
         <%= t('defaults.not_answered')%>
      <%end%>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.times_name')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%if @profile.times_name.present?%>
        <%= @profile.times_name %>
      <%else%>
        <%= t('defaults.not_answered')%>
      <%end%>
    </p>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.team_dev_will')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
      <%= @profile.team_dev_will_i18n %>
    </p>
  </div>
</div>

<div class="mb-3 row">
  <div class="col-md-6 col-md-offset-6">
    <%= (t 'activerecord.attributes.profile.twitter_account')%>
  </div>
  <div class="col-md-5 col-md-offset-5">
    <p class="text-input-area">
    <%if @profile.twitter_account.present?%>
      <%= @profile.twitter_account %>
    <%else%>
      <%= t('defaults.not_answered')%>
    <%end%>
    </p>
  </div>
</div>
<% @portfolio.each.with_index do |pf|%>
  <div class="mb-3 row"> 
    <div class="col-md-6 col-md-offset-6">
      <%= (t 'activerecord.attributes.portfolio.name')%>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <p class="text-input-area">  
         <%if pf.url.present?%>
          <%= pf.name %>
        <%else%>
          未回答
        <%end%>
      </p>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-6 col-md-offset-6">
      <%= (t 'activerecord.attributes.portfolio.url')%>
    </div>
    <div class="col-md-5 col-md-offset-5 ">
      <p class="text-input-area">
        <%if pf.url.present?%>
          <%= pf.url %>
        <%else%>
          <%= t('defaults.not_answered')%>
        <%end%>
      </p>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-6 col-md-offset-6">
       <%= (t 'activerecord.attributes.portfolio.status')%>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <p class="text-input-area">
        <%= pf.status_i18n %>
      </p>
    </div>
  </div>   
<%end%>
  <div class="edit-btn">
    <%= render 'shared/crud_menus', profile: @profile if current_user.own?(@profile) %>
  </div>
</div>