<div class="container my-5">

  <div class="row justify-content-center mb-5">
    <div class="col-4 text-center">
      <!-- プロフィール画像 -->
      <div>
        <%=image_tag @profile.decorate.avatar_url, class: 'rounded-circle img-fluid', size: '200x200' %> 
      </div>

      <!-- 期 -->
      <div class="mt-2 fw-bold">
        <%= @profile.grade %>期
      </div>

      <div class="mt-1 fs-4 fw-bold">
        <!-- 名前 -->
        <%= @profile.name %>

        <!-- Twitterアイコン -->
        <% if @profile.twitter_account.present? %>
          <%= link_to "https://twitter.com/#{@profile.twitter_account.delete('@')}", target: :_blank, rel: "noopener noreferrer", class: 'text-decoration-none' do %>
            <i class="fa-brands fa-twitter" style="color: deepskyblue;"></i>
          <% end %>
        <% end %>

        <!-- GitHubアイコン -->
        <%= link_to "https://github.com/#{@profile.user.github_name}", target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fab fa-github text-dark"></i>
        <% end %>
      </div>

      <!-- いいね！ボタン -->
      <div class="mt-1">
        <% unless current_user.own?(@profile) %>
          <%= render 'like_button', profile: @profile %>
        <% end %>
      </div>
    </div>

    <!-- 自己紹介文 -->
    <div class="col-6">
      <div class="fw-bold form-label">自己紹介文</div>

      <div class="form-control">
        <%= simple_format(@profile.self_introduce) %>
      </div>
    </div>
  </div>

  <!-- 性別 -->
  <% if @profile.gender != 'unanswered' %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.gender') %>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.gender_i18n %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>

  <!-- 生年月日 -->
  <% if @profile.date_of_birth %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.date_of_birth') %>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.date_of_birth %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>

  <!-- 血液型 -->
  <% if @profile.blood_type != 'unanswered' %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.blood_type') %>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.blood_type_i18n %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>

  <!-- 兄弟関係 -->
  <% if @profile.siblings_relation != 'unanswered' %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.siblings_relation') %>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.siblings_relation_i18n %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>


  <!-- 出身地 -->
  <div class="row justify-content-center mb-3">
    <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
      <%= (t 'activerecord.attributes.profile.birthplace') %>
    </div>

    <div class="col-6 col-lg-5">
      <div class="text-center form-control">
        <%= @profile.birthplace.name %>
      </div>
    </div>

    <div class="col-2 col-lg-1"></div>
  </div>

  <!-- 居住地 -->
  <div class="row justify-content-center mb-3">
    <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
      <%= (t 'activerecord.attributes.profile.living_place') %>
    </div>

    <div class="col-6 col-lg-5">
      <div class="text-center form-control">
        <%= @profile.living_place.name %>
      </div>
    </div>

    <div class="col-2 col-lg-1"></div>
  </div>


  <!-- 趣味 -->
  <div class="row justify-content-center mb-3">
    <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
      <%= (t 'activerecord.attributes.profile.hobby') %>
    </div>

    <div class="col-6 col-lg-5">
      <div class="text-center form-control">
        <%= @profile.hobby %>
      </div>
    </div>

    <div class="col-2 col-lg-1"></div>
  </div>

  <!-- times名 -->
  <% if @profile.times_name.present? %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.times_name') %>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.times_name %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>

  <!-- チーム開発希望 -->
  <% if @profile.team_dev_will != 'unanswered' %>
    <div class="row justify-content-center mb-3">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.attributes.profile.team_dev_will')%>
      </div>

      <div class="col-6 col-lg-5">
        <div class="text-center form-control">
          <%= @profile.team_dev_will_i18n %>
        </div>
      </div>

      <div class="col-2 col-lg-1"></div>
    </div>
  <% end %>


  <!-- ポートフォリオ -->
  <% if @profile.portfolios.present? %>
    <div class="row justify-content-center mb-2">
      <div class="col-3 col-lg-2 text-end fw-bold col-form-label">
        <%= (t 'activerecord.models.portfolio')%>
      </div>

      <div class="col-6 col-lg-5"></div>
      <div class="col-2 col-lg-1"></div>
    </div>

    <% @portfolio.each do |pf|%>

      <!-- ポートフォリオ名 -->
      <div class="row justify-content-center mb-3">
        <div class="col-3 col-lg-2 text-end col-form-label">
          <%= (t 'activerecord.attributes.portfolio.name')%>
        </div>

        <div class="col-6 col-lg-5">
          <div class="text-center form-control">
            <%= pf.name %>

          </div>
        </div>

        <div class="col-2 col-lg-1"></div>
      </div>

      <!-- URL -->
      <div class="row justify-content-center mb-3">
        <div class="col-3 col-lg-2 text-end col-form-label">
          <%= (t 'activerecord.attributes.portfolio.url')%>
        </div>

        <div class="col-6 col-lg-5">
          <div class="text-center form-control">
            <%if pf.url.present?%>
              <%= pf.url %>
            <%else%>
              <%= t('defaults.not_answered')%>
            <%end%>
          </div>
        </div>

        <div class="col-2 col-lg-1"></div>
      </div>

      <!-- 状況 -->
      <div class="row justify-content-center mb-3">
        <div class="col-3 col-lg-2 text-end col-form-label">
          <%= (t 'activerecord.attributes.portfolio.status')%>
        </div>

        <div class="col-6 col-lg-5">
          <div class="text-center form-control">
            <%= pf.status_i18n %>
          </div>
        </div>

        <div class="col-2 col-lg-1"></div>
      </div>
    <% end %>
  <% end %>

  <!-- 編集・削除ボタン -->
  <% if current_user.own?(@profile) %>
    <div class="row text-center mt-5">
      <div>
        <%= link_to edit_profile_path(@profile), class: 'text-decoration-none' do %>
          <div class="btn btn-success"><i class="fas fa-pen"></i> 編集</div>
        <% end %>

        <%= link_to profile_path(@profile), method: :delete, data: { confirm: t('defaults.messages.delete_confirm') } do %>
          <div class="btn btn-danger ms-1"><i class="fa fa-trash"></i></div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
