<header>
  <nav class="navbar bg-primary navbar-expand-md">
    <div class="container-fluid">
      <%= link_to (t 'defaults.app_title'), profiles_path, class: 'navbar-brand text-dark' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to (t 'defaults.profiles_all'), profiles_path, class: "nav-link active text-dark" %>
          </li>

        <% if current_user.profile.present? && current_user.profile.persisted? %>
          <li class="nav-item">
            <%= link_to (t 'defaults.myprofile'), profile_path(current_user.profile.id), class: "nav-link active text-dark" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to (t 'defaults.profile_new'), new_profile_path, class: "nav-link active text-dark"%>
          </li>
        <% end %> 

          <li class="nav-item">
            <%= link_to (t 'defaults.like'), likes_profiles_path, class: "nav-link active text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to (t 'defaults.logout'), logout_path, method: :delete, class: "nav-link active text-dark" %>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
